/* --- --- --- --- --- --- --- --- --- --- ---
| GENERAL BODY AND LINKS
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
*, body
{
	font-family: $primary_font;
	font-size: 14px;
	p
	{
		font-size: 1rem;
	}
}

a, a:link, a:visited
{
	text-decoration: none;
	@include ease();
}

input, select, textarea{
	&:focus,
	&.focus{
		outline: none;
	}
}

i.bi{
	vertical-align: middle;
}

.btn.btn-primary{
	color: $white;
	font-weight: $font-light;
	text-transform: uppercase;
	border-radius: 20px;
}

/* --- --- --- --- --- --- --- --- --- --- ---
| LOADER
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
#load8{
	background: rgba($white, .95);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9000;
	@include ease(1s);
}

/* --- --- --- --- --- --- --- --- --- --- ---
| HEADER
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
header
{
	&.min{
		.navbar{
			padding-top: 0;
			padding-bottom: 0;
		}
		.navbar-brand{
			img{
				height: 40px;
				width: auto;
			}
		}
	}
	#pleca{
		background: $secondary_color;
		color: $white;

		a, a:link, a:visited, a:active {
			color: $white;
			:hover {
				text-decoration: underline;
			}
			i {
				font-size: 18px;
			}
		}

		.contact-links,
		.red-transform{
			padding: 5px 0;
		}

		.contact-links{
			text-align: center;
			a, a:link, a:visited{
				font-size: 12px;
				margin: 0 3px;
			}
			a:hover{
				color: $gold_equipar;
			}
		}
		.red-transform
		{
			padding-right: 12px;
			margin-left: 42px;
			background: $primary_color;
			&:before{
				position: absolute;
				background: $primary_color;
				content: '';
				top: 0;
				border-top: 80px solid $secondary_color;
				border-right: 40px solid $primary_color;
				width: 0;
				margin-left: -40px;
			}

			a, a:link, a:visited{
				margin: 0 3px;
			}
			a:hover{
				color: $secondary_color;
			}
		}
	}

	.navbar{
		@include ease();
		@include boxshadow();
	}

	#main_menu{
		.navbar-nav{
			align-items: center;
			.nav-item{
				.nav-link{
					text-transform: uppercase;
					font-weight: $font-medium;
					color: $secondary_color;
					&.active{
						color: $gold_equipar;
					}
					&.nav-link--home{
						i{
							font-size: 24px;
						}
					}
					&:hover{
						color: $primary_color;
					}
				}
			}
		}
	}

	#search-room{
		width: 180px;
		text-align: right;

		@include media-breakpoint-down(md)
		{
			width: 100%;
		}
		button{
			background: none;
			border: none;
		}

		#toggle-search,
		a{
			color: $primary_color;
			margin: 0 5px;
			i{
				font-size: 18px;
			}
			&:hover{
				color: $gold_equipar
			}
		}

		#link_quotation{
			#not_empty_cart{
				display: inherit;
			}
			#empty_cart{
				display: none;
			}
			span{
				display: block;
			}
			&.empty{
				#empty_cart{
					display: inherit;
				}
				#not_empty_car{
					display: none;
				}
				span{
					display: none;
				}
			}
		}
	}

	#search-form{
		display: none;
		position: absolute;
		width: 50vw;
		min-width: 350px;
		left: calc(50% - 25vw);

		@include media-breakpoint-down(md){
			left: calc(50% - 175px);
		}
		&.show_me_the_money
		{
			display: block;
		}
		form{
			width: 100%;
			height: 42px;
			background: $white;
			border: 2px solid $primary_color;
			border-radius: 21px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 5px;
			i{
				color: $blue_equipar;
				font-size: 20px;
			}
			input{
				width: calc(100% - 15px);
				margin-left: 5px;
				height: 42px;
				color: $gray_equipar;
				border: none;
				background: none;
				&::placeholder{
					color: $blue_equipar;
					text-transform: uppercase;
				}
			}
		}
	}
}

/* --- --- --- --- --- --- --- --- --- --- ---
| BODY GENERAL (WORK WITH SEPARATED PAGES)
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
#banner__slider,
#portfolio_slider{
	.carousel-control-prev,
	.carousel-control-next{
		width: 7%;
		i{
			font-size: 32px;
			color: $gold_equipar;
		}
	}
}
.banner__single{
	position: relative;
	min-height: 220px;

	.banner__single__summary{
		position: absolute;
		background: rgba($gray_equipar, .9);
		color: $white;
		max-width: 592px;
		width: calc(100% - 100px);
		height: 100%;
		top: 0;
		right: 50px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.banner__single__summary--title{
			align-self: end;
			text-transform: uppercase;
			text-align: center;
			font-weight: $font-light;
			font-size: 1.9rem;
			margin-bottom: 0;
			&:after{
				border:none;
			}
			strong{
				display: block;
				font-weight: $font-thin;
				font-size: 3.5rem;
				line-height: 100%;
			}
		}
		.banner__single__summary--description{
			align-self: center;
			text-align: center;
			padding: 20px;
			font-size: 1.3rem;
			margin-bottom: 0;
			strong{
				font-size: 1.4rem;
			}
		}
		.banner__single__summary--cta{
			margin: 10px 0;
		}

		@include media-breakpoint-down(md){
			.banner__single__summary--title{
				font-size: 1rem;
				strong{
					font-size: 1.5rem;
				}
			}
			.banner__single__summary--description{
				padding: 0;
				font-size: 1rem;
				strong{
					font-size: 1rem;
				}
			}
		}
	}
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	font-weight: $font-bold;
	text-align: center;
	font-size: 1.25rem;
	line-height: 100%;
	margin: 0;
	margin-bottom: 40px;
	&:after{
		content: " ";
		display: block;
		border-bottom: 2px solid $gold_equipar;
		max-width: 20px;
		margin: 0 auto;
	}
}

.product__card{
	.product__card__wrap{
		min-height: 320px;
		.product__card__behind{
			position: absolute;
			background: $gray_equipar;
			width: 200px;
			height: 270px;
			top: 0;
			right: 0;
			border-radius: 6px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.product__card__behind--tag{
				display: block;
				text-align: center;
				color: $white;
				font-weight: $font-light;
				text-transform: uppercase;
				writing-mode: tb-rl;
				height: calc(100% - 40px);
			}
			a.product__card__behind--tag {
				&:hover{
					color: $gold_equipar;
				}
			}
			.product__card__front{
				position: absolute;
				background: $white;
				width: 200px;
				height: 270px;
				top: 40px;
				right: 44px;
				border-radius: 6px;
				@include boxshadow();
				@include ease(.25s);
				button{
					position: absolute;
					background: $gold_equipar;
					border: none;
					top: 0;
					left: 0;
					border-radius: 6px 0 20px 0;
					width: 36px;
					height: 36px;
					@include ease();
					i{
						color: $white;
						font-size: 22px;
					}
					&:hover{
						background: $gray_equipar;
						i{
							color: $gold_equipar
						}
					}
				}
				a{
					display: flex;
					width: 100%;
					height: 100%;
					align-items: center;
					justify-content: center;
					.product__card__front--image{

					}
					.product__card__front--model{
						position: absolute;
						display: block;
						width: 100%;
						padding: 10px;
						background: $gold_equipar;
						border-radius: 0 0 6px 6px;
						color: $white;
						text-transform: uppercase;
						bottom: 0;
					}
				}

				&:hover{
					transform: scale(1.015);
					top: 35px;
				}
			}
		}
	}
	.product__card--title{
		color: $gray_equipar;
		text-transform: uppercase;
		font-weight: $font-regular;
		text-align: center;
		display: block;
		width: 100%;
		font-size: 16px
	}
}

@import 'partials/home';
@import 'partials/servicios';
@import 'partials/scroll-categories';
@import 'partials/blog';
@import 'partials/portafolio';

#index__clientes,
#index__marcas{
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.client_list{
	padding: 8px 0;
	&.dark-bg{
		background: lighten($dark, 15%);
	}

	img{
		width: auto;
		height: auto;
		max-width: 200px;
		max-height: 100px;
		filter: grayscale(100%);
		@include ease(.25s);
		@include media-breakpoint-down(md){
			max-width: calc(100% - 10px);
		}
	}

	&:hover{
		img{
			filter: grayscale(0%);
		}
	}
}

/* --- --- --- --- --- --- --- --- --- --- ---
| FOOTER
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
#floating_button{
	position: fixed;
	right: 16px;
	bottom: 8px;
	z-index: 1000;

	#btn__contactanos{
		background: $gold_equipar;
		border: none;
		border-radius: 25px;
		font-weight: $font_bold;
		color: $white;
		width: 168px;
		height: 50px;
		padding: 0;
		align-items: center;
		z-index: 1002;
		position: relative;
		@include boxshadow();
		div{
			width: 50px;
			height: 50px;
			background: rgba($white, .5);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			@include ease();
			img{
				transform: scale(1);
				@include ease();
			}
		}
		span{
			width: calc(100% - 50px);
			text-align: center;
		}

		&:hover{
			div{
				background: rgba($white, .75);
				img{
					transform: scale(1.1);
				}
			}
			span{
				color: $blue_equipar;
			}
		}
	}

	#btn__contactanos--links{
		position: absolute;
		bottom: 60px;
		right: 0;
		z-index: 1001;
		a{
			display: flex;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;
			margin-left: auto;
			@include boxshadow();
			i{
				color: $white;
				font-size: 26px;
			}

			&.email{
				background-color: $gold_equipar;
				@include fade_in(1700ms);
			}
			&.whatsapp{
				background-color: $success;
				@include fade_in(1350ms);
			}
			&.messenger{
				background-color: $info;
				@include fade_in(1050ms);
			}
			&.location{
				background-color: $danger;
				@include fade_in(750ms);
			}

			&:hover{
				width: 70px;
				height: 70px;
				margin-right: 10px;
				i{
					font-size: 32px;
				}
			}
		}

		&.show_me_the_money{
			@include intro_top(300ms);
		}
		&.black_sheep_wall{
			@include outro_bottom(250ms);
			&.hide{
				display: none;
			}
		}
	}
}
footer{
	margin-top: 10rem;
	.location{
		i{
			font-size: 26px;
			color: $gold_equipar;
			vertical-align: bottom;
		}
		span{
			font-size: 1.45rem;
			font-weight: $font-regular;
		}
		p{
			font-size: 1rem;
			font-weight: $font-light;
		}
	}

	.social-media{
		a{
			color: $white;
			i{
				font-size: 28px;
				margin: 0 5px;
			}
			&:hover{
				color: $gold_equipar;
			}
		}
	}

	.contact{
		span{
			font-size: 1.45rem;
			font-weight: $font-regular;
		}
		i{
			font-size: 18px;
			color: $gold_equipar;
			margin-left: 5px;
			&.transform-flip{
				transform: scaleX(-1);
			}
		}
		div{
			font-weight: $font-light;
			font-weight: $font-light;
		}
	}
}