// Typography
$PrimaryFont: 'Kanit', sans-serif;
$SecondaryFont: 'Heebo', serif;
$FontLight: 100;
$Font200: 200;
$FontRegular: 300;
$FontMedium: 400;
$FontBold: 700;

// Colors
$DarkBlue: #2552AB;
$MiddleBlue: #3270C1;
$LightBlue: #50B0F8;
$DarkGreen: #225E1D;
$MiddleGreen: #4EAF48;
$LightGreen: #8FC04F;
$DarkGray: #242628;
$MiddleGray: #787878;
$LightGray: #E1E1E1;
$Black: #000000;
$White: #FFFFFF;