#partial__servicios{
	background: url("/v2/images/layout/ServicesPartialBackground.png") center center  $gray_equipar;
	padding-top: 80px;
	padding-bottom: 80px;
	.partial__servicios{
		.partial__servicios--cta{
			color: $white;
			font-size: 1rem;
			font-weight: $font-bold;
			text-transform: uppercase;
			text-align: right;
			strong{
				font-size: 2rem;
				font-weight: $font-thin;
				line-height: 100%;
				display: block;
			}
		}
		.partial__servicios--img{
			div{
				max-width: 190px;
				border-radius: 6px;
				@include boxshadow();
				@include ease(.25s);
				img{
					border-radius: 5px 5px 0 0;
				}
				span, a{
					text-transform: uppercase;
					background: $gray_equipar;
					padding: 10px;
					border-radius: 0 0 6px 6px;
					display: block;
					color: $white;
					font-weight: $font-bold;
					text-align: center;
				}

				&:hover{
					transform: scale(1.015);
					margin-top: -35px;
				}
			}
		}
	}
}